.list {
    padding: 10px;
    list-style: none;

}

.list__item {
    margin: 0px 10px 10px 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ccc;
}

.list__text {
    word-break: break-word;
}

.list__text--done {
    text-decoration: line-through;
}

.list__checkbox {
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    background-color: #008000;
    cursor: pointer;
}

.list__checkbox:hover {
    background-color: #00a300;
}

.list__checkbox:active {
    background-color: #00c700b2;
}

.list__deleteButton {
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    background-color: #e90000;
    cursor: pointer;
}

.list__deleteButton:hover {
    background-color: #ff0000;
}

.list__deleteButton:active {
    background-color: #ff000093;
}