html {
    box-sizing: border-box;
}

::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Montserrat", sans-serif;
    padding: 50px;
    margin: 40px auto 0 auto;
    max-width: 1000px;
    background-color: #eee;
	box-shadow: 0 0 46px rgba(19, 19, 19, 0.3);
}

@media(max-width: 767px) {
    .body {
        padding: 10px;
    }
}

.title {
    padding: 15px;
}