html {
    box-sizing: border-box;
}

::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "montserrat", sans-serif;
    padding: 50px;
    background-color: #eee;

}

@media(max-width: 767px) {
    .body {
        padding: 20px;
    }
}

.title {
    padding: 15px;
}